{% extends 'template.html' %}

{% block h1 %}Prises connectées{% endblock h1 %}
{% block content %}
    <h2 class="prises">Prise 1</h2>
    {% if prise1.state == True %}
        <a type="button" class="btn btn-danger" href="/set/prise1/off">Éteindre</a>
        <p>{{prise1.temp}}°C</p>
    {% elif prise1.state == False %}
        <a type="button" class="btn btn-success" href="/set/prise1/on">Allumer</a>
        <p>{{prise1.temp}}°C</p>
    {% else %}
    <div class="alert alert-danger" role="alert">
        Impossible de récupérer l'état de la prise
    </div>
    {% endif %}


    <h2 class="prises">Prise 2</h2>
    {% if prise2.state == True %}
        <a type="button" class="btn btn-danger" href="/set/prise2/off">Éteindre</a>
        <p>{{prise2.temp}}°C </p>
    {% elif prise2.state == False %}
        <a type="button" class="btn btn-success" href="/set/prise2/on">Allumer</a>
        <p>{{prise2.temp}}°C </p>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Impossible de récupérer l'état de la prise
        </div>
    {% endif %}

    <h2 class="prises">Toutes les prises</h2>
    {% if prise1.state == True and prise2.state == True %}
        <a type="button" class="btn btn-danger" href="/set/all/off">Éteindre</a>
    {% elif prise1.state == False and prise2.state == False %}
        <a type="button" class="btn btn-success" href="/set/all/on">Allumer</a>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Les deux prises ne sont pas dans le même état!
        </div>
    {% endif %}

    <a type="button" class="btn btn-primary" href="/schedule">Définir des plages horaires</a>
{% endblock content %}