{% extends 'template.html' %}

{% block title %}Planification{% endblock title %}

{% block h1 %}Plages horaires{% endblock h1 %}

{% block content %}
<form method="post" action="/schedule">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-success" value="Enregistrer"/>
</form>
<a href="/schedule/reset/prise1" class="btn btn-danger reset">Réinitialiser Prise1</a>
<a href="/schedule/reset/prise2" class="btn btn-danger reset">Réinitialiser Prise2</a>
{% endblock content %}