<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% comment %} <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"> {% endcomment %}
    <meta http-equiv="refresh" content="10">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <title>{% block title %} SAE301 {% endblock %}</title>
</head>

<div id="main">
    <h1>{% block h1 %}{% endblock h1 %}</h1>
    {% block content %}{% endblock content%}
</div>
</body>
</html>